<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="aservice" class="com.whg.iSpring.ch03.AServiceImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="Someone says"/>
        <property type="double" name="property2" value="3.14"/>
    </bean>
</beans>
